# --- Environnement ---
DB_NODE_ENV=
DB_PORT=
DB_HOST=

DATABASE_URL=postgresql://user:password@localhost:5433/databse

DB_USER=
DB_PASSWORD=
DB_NAME=partnrs
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
JWT_SECRET=
CORS_ORIGIN=
FRONTEND_URL=

# Resend Mail
RESEND_API_KEY= 
MAIL_FROM= 

#OVH
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM="mail>"