@use "../../../styles/variables/variables.scss";
@use '../../../styles/mixins/mixins.scss';

.container-connexion {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: 1.5px solid rgb(238, 238, 238);
  padding-top: 2rem;
  &__links1,
  &__links2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 15rem;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(246, 246, 240)

}
  &__links1 {
        @include mixins.gradient;
    color: white;
    border: none;
        font-size: 12px;

  }
  &__links2 {
    text-decoration: none;
    color: variables.$rouge2;
    border: solid 1px variables.$rouge2;
    padding-right: 1.5rem;
  }
}
