@use "../../../styles/variables/variables.scss";

.container-bonjour {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 2rem 1rem 1rem 1rem;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1.5rem;
  width: calc(100% + 2rem);
  height: 130px;
  box-sizing: border-box;
  border-bottom: 1.5px solid rgb(238, 238, 238);
  background-image: url("/canigou2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 35% right 20%;
  border-bottom-right-radius: 35px;
  filter: sepia(0.2) brightness(1) contrast(1);
  &__img {
    border-radius: 50%;
    object-fit: cover;
  }
  &__h3 {
    color: orangered;
    text-shadow: 1px 1px 2px white;

    font-size: 16px;
    margin-bottom: -0.2rem;
  }
  &__p {
    color: whitesmoke;
    text-shadow: 2px 2px 2px orange;
    font-weight: 600;
    font-size: 12px;
    margin-right: 1rem;
    text-align: left;
  }
}

//tablette

@media screen and (min-width: variables.$tablet) and (max-width: 1023px) {
  .container-bonjour {
    min-height: 190px;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-position: top 80% right 20%;
    &__h3 {
      font-size: 20px;
    }
    &__p{
      font-size: 14px;
      margin-right: 10rem;
    }
  }
}

@media (min-width:variables.$desktop){

}