@use "../../../styles/variables/variables.scss";

.container-contactTitle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  &__sectionLeft {
    margin-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &__h1 {
    font-size: 32px;
    color: variables.$nuit;
  }
  &__p {
    text-align: justify;
    font-family: "Inter", sans-serif;
    color: variables.$nuit;
  }
  &__sectionright {
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: variables.$beige;
  }
  &__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 55% 65%;
    mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
  }
}
