/*Fonts
Manrope: titre, boutons, logo, élements import
Inter:tout le reste (navigations, textes, forumaires, cartes, tableaux)
*/


//Variables couleurs

//V1
$rouge : #E6392E;
$jaune : #F4A61D;
$nuit : #1F2937;
$beige : #FFF7EB;
$gris : #F5F5F5;

//V2
$rouge2 : #C62828;
$jaune2 : #F4B400;
$nuit2 : #1E2A38;
$beige2 : #F7F3EC;
$gris2 : #E6E6E6;

/*Breakpoint*/

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;